<div class="container">
    <br>
    <div class="card">
        <h1 class="title">Hello {{user}}</h1>
        <h2 class="subtitle">On this page you can look over what pokemon you have obtained </h2>
    </div>
    <app-pokeomn-card-grid [pokemonList]="pokemonList"></app-pokeomn-card-grid>
</div>