<section class="container">
    <br>
    <div *ngIf="pokemon" class="columns">
        <div class="column card is-one-third is-light">
            <h3 class="title is-capitalized">{{ pokemon.name }}</h3>
            <img [src]="pokemon.sprites.other['official-artwork'].front_default" />
            <h4 class="title">Types</h4>
            <ul>
                <li class="list" *ngFor="let type of pokemon.types">
                    {{ type.type.name }}
                </li>
            </ul>
        </div>
        <div class="column card">
            <h4 class="title">Info</h4>
            <p>height: {{ pokemon.height }}</p>
            <p>weight: {{ pokemon.height }}</p>
            <p>base_experience: {{ pokemon.height }}</p>
            <br />
            <h4 class="title">Stats</h4>
            <ul>
                <li *ngFor="let stat of pokemon.stats">
                    {{ stat.stat.name }}: {{ stat.base_stat }}
                </li>
            </ul>
            <br />
            <h4 class="title">Abilities</h4>
            <ul>
                <li *ngFor="let ability of pokemon.abilities">
                    <p>{{ ability.ability.name }}</p>
                </li>
            </ul>
            <br />
        </div>
        <div class="column card is-two-fifths">
            <h4 class="title">Moves</h4>
            <ul style="column-count: 3; column-gap: 20px">
                <li *ngFor="let move of pokemon.moves">
                    {{ move.move.name }}
                </li>
            </ul>
        </div>
    </div>
    <button class="button is-fullwidth is-info" (click)="addToCurrentUser()">
    Capture
  </button>
</section>