<div [routerLink]="['/pokemon', pokemon.id]" class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img [src]="pokemon.sprites.other['official-artwork'].front_default" />
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4">{{ pokemon.name }}</p>
            </div>
        </div>
    </div>
</div>