<section class="hero is-fullheight is-medium  is-bold ">
    <div class="container ">
        <div class="columns is-centered">
            <form [formGroup]="loginForm" class="card is-rounded  ">
                <div class="card-content ">
                    <h1 class="title "> Login </h1>
                    <p class="control has-icon">
                        <input class="input " [ngClass]="{ 'is-danger': username.invalid && (username.dirty || username.touched)}" type="text" placeholder="name " formControlName="username">
                        <i class="fa fa-lock "></i>
                    </p>
                    <div *ngIf="username.invalid && (username.dirty || username.touched)">
                        <div *ngIf="username.errors.required">Please enter your username </div>
                        <div *ngIf="username.errors.minlength">Username to short</div>
                    </div>
                    <br>
                    <p class="control ">
                        <button [disabled]="loginForm.invalid" (click)="onNameSubmit($event)" class="button is-primary is-medium is-fullwidth ">
                      <i class="fa fa-user "></i>
                      Login
                    </button>
                    </p>
                </div>
            </form>
        </div>
    </div>
</section>