<div class="container">
    <br>
    <button class="button" (click)="changePokemonSlice(-10)">
            Previous page
        </button>
    <button class="button" (click)="changePokemonSlice(10)">Next page</button>
    <app-pokeomn-card-grid [pokemonList]="pokemonList"></app-pokeomn-card-grid>
    <button class="button" (click)="changePokemonSlice(-10)">
            Previous page
        </button>
    <button class="button" (click)="changePokemonSlice(10)">Next page</button>
</div>